# Dataset Generation

## Imports

In [10]:
import pandas as pd
import numpy as np

## Dice dataset

In [11]:
dataset_name = 'Dice1'
n_dice = 4
n_irrelevant = 3
n_samples = 2000
redundant_sums = [(1, 2)]

In [12]:
df = pd.DataFrame()

for d in range(1, n_dice + 1):
    d_values = np.random.random_integers(1, 6, n_samples)
    df[f'dice{d}'] = d_values

for d1, d2 in redundant_sums:
    df[f'd{d1}_d{d2}_sum'] = df[f'dice{d1}'] + df[f'dice{d2}']

for i in range(1, n_irrelevant + 1):
    i_values = np.random.random_integers(1, 6, n_samples)
    df[f'i{i}'] = i_values

for s in range(n_samples):

<ipython-input-12-fedb8a58a370>:4: DeprecationWarning: This function is deprecated. Please call randint(1, 6 + 1) instead
  d_values = np.random.random_integers(1, 6, n_samples)
<ipython-input-12-fedb8a58a370>:11: DeprecationWarning: This function is deprecated. Please call randint(1, 6 + 1) instead
  i_values = np.random.random_integers(1, 6, n_samples)

      dice1  dice2  dice3  dice4  d1_d2_sum  i1  i2
0         1      6      3      4          7   2   1
1         6      5      3      3         11   3   1
2         5      1      2      6          6   2   4
3         1      6      4      5          7   6   1
4         5      1      4      3          6   3   4
...     ...    ...    ...    ...        ...  ..  ..
1995      2      4      5      6          6   5   2
1996      3      2      1      4          5   6   6
1997      4      2      2      1          6   2   3
1998      3      2      3      5          5   1   2
1999      1      3      4      6          4   5   1

[2000 rows x 7 columns]

In [ ]:
df.to_csv(f'datasets/{dataset_name}', index=False)